<app-message-response></app-message-response>
<app-spinner></app-spinner>
<div class="table-responsive">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Numero</th>
          <th class="only-desk" scope="col">Nome</th>
          <th scope="col">Status</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of processos | paginate: { itemsPerPage: 15, currentPage: page }" [class.table-success]="p.setenciado">
          <td>{{ p.numero }}</td>
          <td class="only-desk">{{ p.nome }}</td>
          <td>
            <a (click)="sentenciar(p)" *ngIf="p.setenciado" class="text-success mdi mdi-checkbox-marked-circle-outline">
                <span class="text-dark"> Sentenciado</span>
            </a>
            <a (click)="sentenciar(p)" *ngIf="!p.setenciado" class="text-warning mdi mdi-checkbox-blank-circle-outline">
              <span class="text-dark"> A Sentenciar</span>
            </a>
          </td>
          <td>
            <button [swal]="deleteSwal" (processo)="processoSelecionado = $event" [appProcesso]="p" 
              (confirm)="confirmacao(p)" class="btn btn-link text-danger mdi mdi-delete-outline" data-toggle="tooltip" data-placement="top" title="Excluir"></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
          <pagination-controls 
          (pageChange)="page = $event" 
          responsive="true"
          previousLabel="Anterior"
          nextLabel="Próximo">
        </pagination-controls>
      </tfoot>
    </table>
</div>
<swal #deleteSwal
  title="Alerta!"
  text="Deseja deletar o processo de número: {{ processoSelecionado?.numero }}"
  type="warning"
  showCancelButton="true"
  focusCancel="true">
</swal>