@media screen and (min-width: 1300px){
    .load {
        top: calc((100vh - 56px) - (50vh - 56px));
        left: calc((100vw - 300px) - 50vw);
        position: absolute;
    }
}

@media screen and (max-width: 1299px){
    .load {
        top: calc(50vh - 226px);
        left: calc(50vw - 24px);
        position: absolute;
    }
}