<figure *ngIf="data.length > 0; else Load" class="figure center-align">
  <google-chart 
    [columnNames]="['ano', 'Sentenciados', 'Não Sentenciados']"
    [dynamicResize]="resize"
    [width]="widht"
    [height]="heigth" 
    [title]="'Produtividade'" 
    [type]="'BarChart'" 
    [data]="data"
    (ready)="onReady()"
    [options]="options"></google-chart>
  <figcaption *ngIf="showChart" class="figure-caption">Representação de processos sentenciados e à sentenciar.</figcaption>
</figure>
  <span *ngIf="!showChart" class="mdi mdi-chart-donut mdi-spin align-middle mdi-48px load"></span>