<h1 class="display-4 text-center">Listagem geral</h1>
<div class="form-group">
  <input type="text" aria-describedby="copyButton" (keyup)="filter = $event.target.value" class="form-control" placeholder="Digite o numero do processo para buscar...">
  <small *ngIf="!copied" class="form-text btn-link" (click)="cpNumeros()" id="copyButton">
    Copiar número dos processos
  </small>
  <small *ngIf="copied" id="copyButton" class="text-success">
    <span class="mdi mdi-checkbox-marked-circle-outline"></span>
    Números copiados com sucesso!
  </small>
</div>
<app-message-response></app-message-response>
<app-table (sentenciado)="sentenciar($event)" (selecionados)="numerosParaCopia($event)" (suspensao)="suspender($event)" [processos]="processos | processo: filter"></app-table>
